*{
	font-size: 16px;
	font-family: sans-serif;
}
html,body{
	height: 100%;
	margin: 0;
	background: #f5f5f5;
}

body{
	position: relative;
	padding: .5rem;
	max-width: 30rem;
	margin: 0 auto;
}

h1{
	font-size: 1.5rem;
}
h2{
	font-size: 1rem;
}

form{
	padding: 0 1rem;
	position: static;
}

input{
	display: inline-block;
	border: 0;
	background: #D2CFCF;
	color: #000;
	padding: 1rem;
	margin: .5rem 0;
}

input[name='nombre']{
	width: 90%;
}

input[name='precio']{
	width: 49%;
}

input[name='precio']::before{
	content: "$ ";
}

input[name='cantidad']{
	width: 29%;
}

span,input[name='total'],span p{
	position: fixed;
	margin: 0;
	bottom: 0;

}

input[name='total']{
	display: inherit;
	right: 1rem;
	margin-top: 1rem;
	background: #fff;
	bottom: 1.5rem;
}

input[type='submit']{
	width: 70%;
	background: #272727;
	color: #fff;
	font-size: 2rem;
	padding: .5rem;
	border-radius: .5rem;
}
input[type='submit']:hover{
	background: #838383;
}

span p{
	bottom: 2rem;
	right: 16rem;
	font-size: 1.5rem;
	color: #fff;
}

span{
	left: 0;
	width: 100%;
	height: 5rem;
	background: #bbb;
}

.lista{
	padding: 1rem;
}

.lista ul{
	padding: 0;
	margin: 0;
}

.lista ul li {
	list-style: none;
	background: #fff;
	box-shadow: 0rem .2rem .2rem #bbb;
}

.lista ul li input {
	background: transparent;
	width: auto;
	display: inline-block;
	max-width: 10%;
	padding: 1rem .5rem;
	margin: 0;
}

.lista ul li input[name="nombre"] {
	max-width: 30%;
}

i.precio:before,i.rubro:before {
	content: "$ ";
}
