*{
	font-size: 16px;
	font-family: sans-serif;
}
html,body{
	height: 100%;
	margin: 0;
}

body{
	position: relative;
	padding: .5rem;
	background: #f5f5f5;
}

h1{
	font-size: 2rem;
}
h2{
	font-size: 1.5rem;
}

form{
	padding: 0 1rem;
	position: static;
}

input{
	display: inline-block;
	border: 0;
	background: #D2CFCF;
	color: #000;
	padding: 1rem;
	margin: .5rem 0;
}

input[name='nombre']{
	width: 88%;
}

input[name='precio']{
	width: 45%;
}

input[name='cantidad']{
	width: 30%;
}

span,input[name='total'],span p{
	position: fixed;
	margin: 0;
	bottom: .2rem;
}

input[name='total']{
	right: 1rem;
	margin-bottom: 1rem;
	background: #fff;
}

input[type='submit']{
	width: 70%;
	background: #272727;
	color: #fff;
	font-size: 2rem;
	padding: .5rem;
	border-radius: .5rem;
}
input[type='submit']:hover{
	background: #838383;
}

span p{
	bottom: 2rem;
	right: 16rem;
	font-size: 1.5rem;
	color: #fff;
}

span{
	left: 0;
	width: 100%;
	height: 5rem;
	background: #bbb;
}

